* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: green;
}
body h1 {
  font-size: 80px;
}
body p {
  margin: 30px 0px;
  font-size: 80px;
}
.botuni {
  display: flex;
}
.btn {
  margin: 0px 20px;
  border: 2px solid black;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: 20px;
  background-color: white;
}
